<footer class="footer">
  <small>
    Developed by Govind Parmar for Ivrnet Inc.<br /><a href="https://stackoverflow.com/users/story/1773434">Stack Overflow Profile</a> | <a href="http://github.com/govindparmar">GitHub Profile</a>
  </small>
</footer>